ALTER FUNCTION [dbo].[fpers_devuelveLineas_Bundle_IL]    
(@IdDoc int, @Agrupado varchar(100))    
RETURNS TABLE       
AS RETURN
		(

with a as(
  
		  Select l.IdPedido, l.IdLinea, sum(l2.Precio_EURO) Precio, l.IdArticulo, l.IdIva , l.IdDoc, l.Cantidad, sum(l2.Precio_EURO) as Precio_EURO, sum(l2.Total_Moneda) as Total_Moneda, sum(l2.Total_Euros) as Total_Euros
		  from Pedidos_Cli_Lineas l    
		  inner join Albaranes_Cli_Cab acc on l.IdAlbaran=acc.IdAlbaran and acc.IdDoc=@IdDoc    
		  left join Pedidos_Cli_Lineas l2 on l.IdDoc=l2.IdDocPadre  
		  where l.IdDocPadre is null    
		  group by l.IdPedido, l.IdLinea, l.IdArticulo, l.IdIva, l.IdDoc, l.Cantidad, l.Precio_EURO
  
	  ), Cantidad as (
  
		  Select l.Idpedido, l.IdArticulo , l.Cantidad , IdDocPadre, a.TipoCantidad  
		  from Pedidos_Cli_Lineas l    
		  inner join Albaranes_Cli_Cab acc on l.IdAlbaran=acc.IdAlbaran and acc.IdDoc=@IdDoc    
		  inner join articulos A on l.IdArticulo=A.IdArticulo  
		  inner join Articulos_Familias AF on a.IdFamilia=AF.IdFamilia  
		  inner join Articulos_Familias AF2 on AF.IdFamiliaPadre=AF2.IdFamilia  
		  where AF2.IdFamiliaPadre <> 'Z-TX' and IdDocPadre is not null
  
	  ), a2 as(
  
		  Select l.IdPedido, l.IdLinea, sum(l2.Precio_EURO) Precio, l.IdArticulo, l.IdIva , l.IdDoc, l.Cantidad, l2.Precio_EURO  
		  from Pedidos_Cli_Lineas l    
		  inner join Albaranes_Cli_Cab acc on l.IdAlbaran=acc.IdAlbaran and acc.IdDoc=@IdDoc    
		  left join Pedidos_Cli_Lineas l2 on l.IdDoc=l2.IdDocPadre  
		  where l.IdDocPadre is null    
		  group by l.IdPedido, l.IdLinea, l.IdArticulo, l.IdIva, l.IdDoc , l.Cantidad, l2.Precio_EURO
  
	  ), Cantidad2 as (
  
		  Select l.Idpedido, l.IdArticulo , l.Cantidad , IdDocPadre, a.TipoCantidad , l.Precio_EURO , l.Total_Euros
		   from Pedidos_Cli_Lineas l    
		  inner join Albaranes_Cli_Cab acc on l.IdAlbaran=acc.IdAlbaran and acc.IdDoc=@IdDoc    
		  inner join articulos A on l.IdArticulo=A.IdArticulo  
		  inner join Articulos_Familias AF on a.IdFamilia=AF.IdFamilia  
		  inner join Articulos_Familias AF2 on AF.IdFamiliaPadre=AF2.IdFamilia  
		  where AF2.IdFamiliaPadre <> 'Z-TX' and IdDocPadre is not null
  
	  ), FEINA as (
  
		  Select l.Idpedido, l.IdArticulo , l.Cantidad , IdDocPadre, a.TipoCantidad, l.IdLinea, l.Precio_EURO, l.IdIva  , l.Total_Euros
		   from Pedidos_Cli_Lineas l    
		  inner join Albaranes_Cli_Cab acc on l.IdAlbaran=acc.IdAlbaran and acc.IdDoc=@IdDoc    
		  inner join articulos A on l.IdArticulo=A.IdArticulo  
		  inner join Articulos_Familias AF on a.IdFamilia=AF.IdFamilia  
		  inner join Articulos_Familias AF2 on AF.IdFamiliaPadre=AF2.IdFamilia  
		  where AF2.IdFamiliaPadre = 'Z-TX' and IdDocPadre is not null
  
	  ) 
  
	 select a2.IdPedido, A2.IdLinea, isnull(c.Precio_EURO , a2.Precio_EURO) as Precio, a2.IdArticulo, a2.IdIva, isnull(c.Cantidad,a2.cantidad) as Cantidad, c.TipoCantidad as TipoUnidad   , c.Total_Euros as Total
	 from a2  
	 left join Cantidad2 c on a2.IdDoc=c.IdDocPadre
	 where isnull(@Agrupado,'Z') <> 'B'
	 union  
	 Select F.IdPedido, F.IdLinea, F.Precio_EURO as Precio, F.IdArticulo, F.IdIva, F.Cantidad , F.TipoCantidad as TipoUnidad, F.Total_Euros as Total
	 from FEINA F  
	 where isnull(@Agrupado,'Z') <> 'B'
	 union
	 select a.IdPedido, A.IdLinea, isnull(a.Precio , a.Precio_EURO) as Precio, a.IdArticulo, a.IdIva, isnull(c.Cantidad,a.Cantidad)  as Cantidad, c.TipoCantidad   as TipoUnidad , a.Total_Euros as Total
	 from a  
	 left join Cantidad c on a.IdDoc=c.IdDocPadre  
	 where isnull(@Agrupado,'Z') = 'B'

	 )