ALTER FUNCTION [dbo].[fpers_devuelveLineas_Bundle_IL]
(
    @IdDoc INT,
    @Agrupado VARCHAR(100)
)
RETURNS TABLE
AS
RETURN
(
    WITH LinesForDoc AS (
        SELECT l.IdPedido, l.IdLinea, l.IdArticulo, l.IdIva, l.IdDoc, l.Cantidad,
               l.Precio_EURO, l.Total_Moneda, l.Total_Euros, l.IdAlbaran, l.IdDocPadre
        FROM dbo.Pedidos_Cli_Lineas l
        INNER JOIN dbo.Albaranes_Cli_Cab acc ON l.IdAlbaran = acc.IdAlbaran
        WHERE acc.IdDoc = @IdDoc
    ),
    ArtFam AS (
        SELECT a.IdArticulo, AF.IdFamilia, AF.IdFamiliaPadre
        FROM dbo.Articulos a
        LEFT JOIN dbo.Articulos_Familias AF ON a.IdFamilia = AF.IdFamilia
    ),
    ParentsAgg AS (
        SELECT
            p.IdPedido,
            p.IdLinea,
            p.IdArticulo,
            p.IdIva,
            p.IdDoc,
            p.Cantidad,
            SUM(child.Precio_EURO) AS Precio,
            SUM(child.Precio_EURO) AS Precio_EURO,
            SUM(child.Total_Moneda) AS Total_Moneda,
            SUM(child.Total_Euros) AS Total_Euros
        FROM LinesForDoc p
        LEFT JOIN dbo.Pedidos_Cli_Lineas child ON p.IdDoc = child.IdDocPadre
        WHERE p.IdDocPadre IS NULL
        GROUP BY p.IdPedido, p.IdLinea, p.IdArticulo, p.IdIva, p.IdDoc, p.Cantidad
    ),
    CantidadData AS (
        SELECT l.IdPedido, l.IdArticulo, l.Cantidad, l.IdDocPadre, af.IdFamiliaPadre, a.TipoCantidad
        FROM LinesForDoc l
        INNER JOIN dbo.Articulos a ON a.IdArticulo = l.IdArticulo
        INNER JOIN dbo.Articulos_Familias af ON a.IdFamilia = af.IdFamilia
        WHERE l.IdDocPadre IS NOT NULL
    ),
    ParentsAgg2 AS (
        SELECT
            p.IdPedido, p.IdLinea, p.IdArticulo, p.IdIva, p.IdDoc, p.Cantidad,
            SUM(child.Precio_EURO) AS Precio,
            MAX(child.Precio_EURO) AS Precio_EURO
        FROM LinesForDoc p
        LEFT JOIN dbo.Pedidos_Cli_Lineas child ON p.IdDoc = child.IdDocPadre
        WHERE p.IdDocPadre IS NULL
        GROUP BY p.IdPedido, p.IdLinea, p.IdArticulo, p.IdIva, p.IdDoc, p.Cantidad
    ),
    Cantidad2Data AS (
        SELECT l.IdPedido, l.IdArticulo, l.Cantidad, l.IdDocPadre, a.TipoCantidad, l.Precio_EURO, l.Total_Euros
        FROM LinesForDoc l
        INNER JOIN dbo.Articulos a ON a.IdArticulo = l.IdArticulo
        INNER JOIN dbo.Articulos_Familias AF ON a.IdFamilia = AF.IdFamilia
        WHERE l.IdDocPadre IS NOT NULL
    ),
    FEINAData AS (
        SELECT l.IdPedido, l.IdArticulo, l.Cantidad, l.IdDocPadre, a.TipoCantidad, l.IdLinea, l.Precio_EURO, l.IdIva, l.Total_Euros
        FROM LinesForDoc l
        INNER JOIN dbo.Articulos a ON a.IdArticulo = l.IdArticulo
        INNER JOIN dbo.Articulos_Familias AF ON a.IdFamilia = AF.IdFamilia
        WHERE AF.IdFamiliaPadre = 'Z-TX' AND l.IdDocPadre IS NOT NULL
    )
    SELECT pa.IdPedido, pa.IdLinea, ISNULL(c2.Precio_EURO, pa.Precio_EURO) AS Precio, pa.IdArticulo, pa.IdIva,
           ISNULL(c.Cantidad, pa.Cantidad) AS Cantidad, c.TipoCantidad AS TipoCantidad, c.Total_Euros AS Total
    FROM ParentsAgg2 pa
    LEFT JOIN Cantidad2Data c2 ON pa.IdDoc = c2.IdDocPadre AND pa.IdPedido = c2.IdPedido AND pa.IdLinea = c2.IdLinea
    LEFT JOIN CantidadData c ON pa.IdDoc = c.IdDocPadre AND pa.IdArticulo = c.IdArticulo
    WHERE ISNULL(@Agrupado,'Z') <> 'B'
    UNION ALL
    SELECT f.IdPedido, f.IdLinea, f.Precio_EURO AS Precio, f.IdArticulo, f.IdIva, f.Cantidad, f.TipoCantidad AS TipoUnidad, f.Total_Euros AS Total
    FROM FEINAData f
    WHERE ISNULL(@Agrupado,'Z') <> 'B'
    UNION ALL
    SELECT a.IdPedido, a.IdLinea, ISNULL(a.Precio, a.Precio_EURO) AS Precio, a.IdArticulo, a.IdIva, ISNULL(c.Cantidad,a.Cantidad) AS Cantidad, c.TipoCantidad AS TipoUnidad, a.Total_Euros AS Total
    FROM (
        SELECT IdPedido, IdLinea, Precio, Precio_EURO, IdArticulo, IdIva, Cantidad, Total_Euros, IdDoc
        FROM ParentsAgg
    ) a
    LEFT JOIN CantidadData c ON a.IdDoc = c.IdDocPadre AND a.IdArticulo = c.IdArticulo
    WHERE ISNULL(@Agrupado,'Z') = 'B'
);